body {
  background-color: #eeeeee;
  color: #0d4b16;
}

.container {
  margin-top: 50px;
  background-color: #d5d5d5;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  padding-top: 5px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.mypic {
  width: 15em;
  height: 20em;
  float: left;
  z-index: 2
}

.biotext {
  float: right;
}

.portpics {
  padding: 5px 0;
  font-size: 12px;
}